body {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #000;
    background-color: #fff;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.btn--hover {
    transition: all 0.25s linear;
}

.btn--hover:hover {
    background-color: #0b5b53;
}

.btn {
    padding: 10px 12px;
    text-align: center;
    color: #EEE;
    font-weight: 700;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    cursor: pointer;
    transition: 0.25s linear;
    font-family: Quicksand, sans-serif;
}

.btn--transparent {
    background-color: transparent;
    color: #0F8277;
}

.btn--transparent-white {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFF;
}

.btn--transparent-white:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

.btn--border {
    border-radius: 4px;
    border: 2px solid #0F8277;
    background-color: transparent;
    color: #0F8277;
}

.btn--border:hover {
    color: #EEEEEE;
    background-color: #0b5b53;
    border-color: #0b5b53;
}

.btn--transparent:hover {
    color: #0b5b53;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.64px;
}

.catalog {
    border-radius: 4px;
    background: #0F8277;
    color: #EEE;
    font-weight: 700;
    padding: 10px 12px;
}

.form-search {
    display: flex;
}

.form-search input {
    font-weight: 600;
    padding-left: 12px;
    border: 1px solid #5C5C5C;
    border-radius: 4px 0 0 4px;
}

.form-search input:focus {
    outline: none;
}

.form-search input::placeholder {
    color: #5C5C5C;
    font-weight: 500;
}

.form-search button {
    border-radius: 0 4px 4px 0;
    background-color: #0F8277;
    padding: 10px;
    color: #EEEEEE;
    border: 1px solid #5C5C5C;
    border-left: none;
    cursor: pointer;
}

.nav__list {
    display: flex;
    gap: 48px;
}

.nav__item a {
    transition: 0.25s linear;
}

.nav__item a:hover {
    color: #0b5b53;
    text-decoration: underline;
}

.nav__auth {
    display: flex;
    gap: 16px;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    border-radius: 12px;
    background: #DBF3ED;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 512px;
    gap: 32px;
    width: 50%;
    align-items: start;
}

.intro__img {
    margin: 40px 0 30px 0;
    max-height: 533px;
}

.intro__title {
    font-size: 56px;
    font-weight: 700;
}

.intro__subtitle {
    font-size: 22px;
    font-weight: 600;
}

.intro__btn {
    display: flex;
    gap: 24px;
}

.main .container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section__title {
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
}

.section__subtitle {
    font-size: 40px;
    font-weight: 700;
    padding: 12px 0;
}

.section__paragraph {
    font-weight: 500;
    font-size: 20px;
}

.card__link {
    display: flex;
    align-items: center;
}

.card__link:hover {
    text-decoration: underline;
}

.cap {
    display: inline-block;
    background: url("../img/cap.svg") no-repeat;
    margin-right: 12px;
    height: 20px;
    width: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #DADADA;
    overflow: hidden;
    margin-top: 40px;
    transition: 0.35s linear;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.card__content {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card__inner {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.academic__list, .curse__list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.list__item {
    display: flex;
}

.card__img {
    height: 270px;
    width: auto;
    object-fit: cover;
}

.educational__img {
    height: 20px;
    width: auto;
}

.educational__title {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.educational {
    display: flex;
    gap: 12px;
    align-items: center;
}

.curse__list__item {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.more__link {
    display: block;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    transition: 0.25s linear;
}


.category__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.category__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category__link {
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    transition: 0.25s linear;
}

.category__link:hover, .more__link:hover {
    color: #0b5b53;
}

.category__title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.category__description {
    font-weight: 500;
}

.category__inner {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin: 40px 0;
}

.section__subtitle--center {
    text-align: center;
}

.partners {
    margin-top: 80px;
    background: #DBF3ED;
    padding: 80px 0;
}

.partners__inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
}

.partners__img-block {
    display: flex;
    justify-content: space-between;
    height: 66px;
}

.partners__img {
    display: block;
    padding: 10px;
}

.business {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
    padding: 80px 0 70px;
}


.business__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 32px;
}

.business__img {
    margin: auto auto;

}

.grid__item {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}

.grid__item:nth-child(3n) {
    border-right: none;
}

.grid__item:nth-last-child(-n+3) {
    border-bottom: none;
}

.business__company {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.price {
    margin-top: 80px;
    padding: 80px 0 100px;
    background: #DBF3ED;
}

.price__list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-shrink: 1;
}

.plan-card {
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    flex: 1 0;
    transition: 0.25s linear;
}

.plan-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.plan-card .card__inner {
    min-height: 286px;
    justify-content: space-between;
}

.plan-card__title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.plan-card__subtitle {
    font-weight: 500;
    text-align: center;
}

.plan-card__price {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.plan-card__price span {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.plan-card__btn {
    display: block;
}

.plan-card__list {
    list-style: url("../img/list-icon-green.svg");
    margin-top: 48px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}


.plan-card__list.active {
    list-style: url("../img/list-icon-whit.svg");
}

.card__inner {
    min-height: 175px;
    display: flex;
    flex-direction: column;
}

.plan-card__list::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #0F8277;
    position: absolute;
    top: 0;
}

.active.plan-card__list::before {
    background-color: #ffffff;
}

.plan-card__item {
    font-weight: 500;
    position: relative;
    max-width: 264px;
    left: 22px;
    padding-left: 16px;
    list-style-position: outside;
}

.plan-card.active {
    border-color: #0F8277;
    background: #0F8277;
}

.active {
    color: #fff;
}

.students {
    margin-top: 80px;
}

.students__photo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 24px;
    margin: 40px 0 80px;
}

.students__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
}

.div4 {
    grid-area: 3 / 2 / 4 / 3;
}

.div5 {
    grid-area: 3 / 3 / 4 / 4;
}

.div6 {
    grid-area: 3 / 4 / 4 / 5;
}

.div7 {
    grid-area: 2 / 4 / 3 / 5;
}

.div8 {
    grid-area: 1 / 4 / 2 / 5;
}

.div9 {
    grid-area: 1 / 2 / 3 / 4;
}

.contact {
    padding: 65px 0 48px;
    background: url("../img/bg-form.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.contact:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.60);
    z-index: 1;
}


.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 24px;
    background: #DBF3ED;
    width: 565px;
    margin: 0 auto;
    z-index: 1000;
}

.contact-form__title {
    font-size: 40px;
    font-weight: 700;
}

.contact-form__subtitle {
    font-size: 20px;
    font-weight: 500;
    margin: 24px 0;
    text-align: center;
}

.form-contact input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    padding: 12px;
    margin-bottom: 24px;
}

.form-contact textarea {
    resize: none;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    padding: 12px;
    height: 104px;
    margin-bottom: 24px;
}

.form-contact label {
    align-self: start;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.form-contact input::placeholder {
    color: #8E8E8E;
    font-weight: 500;
}

.form-contact textarea::placeholder {
    color: #8E8E8E;
    font-weight: 500;
    font-family: Quicksand, sans-serif;
}

form input:focus, textarea:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    outline: none;
}

.form-contact button {
    min-width: 196px;
    align-self: start;
    color: #F6FDFF;
    font-family: Cabin, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
}

.footer {
    display: grid;
    grid-template-areas:
            'title social'
            'subtitle copywright';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 64px 0;
    min-height: 110px;
}

.footer__title {
    grid-area: title;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.64px;
}

.footer__subtitle {
    grid-area: subtitle;
    display: flex;
    justify-content: start;
    align-items: end;
    font-weight: 500;
    max-width: 306px;
}

.footer__social {
    grid-area: social;
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 24px;
}

.social__link {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #000;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.35s linear;
}

.social__link i {
    color: #FFFFFF;
    font-size: 24px;
    position: relative;
}

.social__link:hover {
    background-color: #0b5b53;
}

.social__link i.myFacebook {
    font-size: 32px;
    top: 4px;
}

.copyright {
    grid-area: copywright;
    display: flex;
    justify-content: end;
    align-items: end;
    font-weight: 500;
}